*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
    height: 100vh;
    font-family: cursive;
    background-image:url(./images/bg-img.jpg);
    background-size:cover;
    background-position:bottom

    
}

.top{
    display: flex;
    justify-content:space-around;
    /* margin-top: 10px; */
}
.js, .gh{
    display:flex;
    font-size: 20px;
    margin-top: 20px;
}
.js .img{
    padding-right: 5px;
    padding-top: 4px;
    

}

.gh img{
    padding-right: 5px;
    padding-top: 4px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    gap: 20px;
}
 .conteiner{
    display: flex;
     flex-direction: column; 
    align-items: center;
    height: 50%;
    gap: 20px;
    /* font-size: 24px; */
    text-align: center;
    color: white;
} 

.conteiner h1{
    font-size: 60px;
    text-transform: capitalize;


}
.pp{

    display: flex;
    justify-content: center;
   
    font-size: 40px;
    width: 70%;
}
.conteiner .input{
    font-size: 20px;
    margin-top: 15px;
}
.conteiner .input input{
    border-radius: 10px ;
    border: none;
    outline: 2px solid white;
    width: 150px;
    height: 55px;
    padding-left: 10px;
    color: white;
    background-color: inherit;
}
.input input::placeholder{
    color: white;
}
footer{
    text-align: center;
    color: white;
    margin-top: 10px;

}

@media(max-width:700px){

body{
    display: flex;
    flex-direction: column;
    height:130vh;
}

.top{
    flex-direction: column;
    align-items: center;

}
main{
    align-items: flex-start;
}


main{
    gap: 0px;
    
}
footer{
    margin-top: 140px;
}
}